@tailwind base;
@tailwind components;
@tailwind utilities;

.gutter {
  background-color: #066af700; /* Initial transparent background */
  cursor: col-resize; /* Change cursor to resize cursor for horizontal gutter */
  width: 4px; /* Initial width for the gutter */
  transition: background-color 0.3s ease, width 0.3s ease; /* Smooth transition for background and size */
}

.gutter:hover {
  background-color: #0652bddc; /* Darker background on hover */
  width: 8px; /* Increase width on hover */
}
.gutter.gutter-horizontal {
  cursor: col-resize;
}
.gutter.gutter-vertical {
  cursor: row-resize;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #6b7280 #1f2937;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #1f2937;
  border-radius: 0;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #6b7280;
  border-radius: 0;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #9ca3af;
}
